#services::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(30, 8, 233, 0.6) !important;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);

  z-index: -1;
}
#services {
  position: relative;
}
#services .title-service p {
  font-size: 17px;
  opacity: 0.7;
}
